<app-titulo [titulo]="'Evento'"></app-titulo>
<div class="container">
  <div class="form-inline">
    <div class="form mb-2">
      <div class="row align-items-start">
        <div class="col-6 col-sm-1">
          <label for="">Filtro</label>
        </div>
        <div class="col-6 col-sm-3">
          <input [(ngModel)]="filtroLista" type="text" class="form-control mr-2" placeholder="buscar">
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th><button class="btn btn-outline-light btn-sm" (click)="mostrarImagem=!mostrarImagem">
          <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!mostrarImagem ? 'Exibir': 'Ocultar'}}
        </button></th>
        <th>Tema</th>
        <th>Data</th>
        <th>Local</th>
        <th>Qtd. Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventosFiltrados.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>{{evento.id}}</td>
        <td><img [collapse]="!mostrarImagem" [isAnimated]="true" src="assets/{{evento.imagemURL}}" alt="" [style.width.px]="150"></td>
        <td>{{evento.tema}}</td>
        <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm me-md-3" tooltip="Editar">
            <i class="fas fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos || !eventosFiltrados.length">
      <tr>
        <td colspan="8" class="text-center"><h4>Não há registros</h4></td>
      </tr>
    </tfoot>
  </table>
</div>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
